* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

ul>li {
    list-style: none;
}

.wrapper {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
}

.to-do-list {
    background-color: #f44336;
    display: flex;
    padding: 39.8px 23px 16.6px;
}

.item {
    margin: 5px 0px;
    position: relative;
}

.input {
    border-radius: 0;
    border: none;
    width: 100%;
}

.btn {
    border: none;
    border-radius: 0;
    padding: 7px 47px;
}

.item:nth-child(even) {
    background-color: #eeeeee;
}

.item {}

.delete {
    position: absolute;
    right: 0;
    border: none;
    background: none;
    font-family: 'Calibri';
    font-size: 17px;
}

.check:checked {
    background: url(../img/checkbox-selected-svgrepo-com.svg) no-repeat center/cover;
    height: 9px;
    width: 11px;
}

.item.task-complete {
    text-decoration: line-through;
    background-color: #888888;
}

.modal {
    display: block;
    position: relative;
    z-index: 10;
    width: 422px;
    height: 180px;
    z-index: 20;
    background-color: white;
}

.overlay::before {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(244, 67, 54, 0.376);
    position: absolute;
    z-index: 10;
}

.title {
    font-family: 'Calibri';
}

.btns {
    display: flex;
    column-gap: 10px;
    right: 20px;
    bottom: 20px;
    position: absolute;
}